body{
    height: 0;
    margin: 0%;
    
}
h1{
    font-size: 50px;
}
.name{
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    /* margin: 5%; */
   margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
    padding-top: 2%;
}
.top-banner{
    background-image: url(img/top-banner.png);
    background-repeat: no-repeat;

}
.link-button{
    text-decoration: none;
    background-color: orange;
    padding: 10px 20px;
    border-radius: 5%;
    color: aliceblue;
    margin-top: 2px;
}

.dream-big{
  padding: 100px 0;
}

.dream-wrapper{
  max-width: 1100px;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 80px;
}

.dream-image{
  position: relative;
  width: 400px;
}

.circle-bg{
  position: absolute;
  width: 350px;
  height: 350px;
  background: linear-gradient(135deg, #ff5f9e, #ff9966);
  border-radius: 50%;
  top: 20px;
  left: 20px;
  z-index: -1;
}

.dream-image img{
  width: 100%;
  border-radius: 10px;
}

.dream-content h2{
  font-size: 42px;
  margin-bottom: 10px;
}

.dream-content h4{
  font-size: 20px;
  color: #555;
  margin-bottom: 15px;
}

.dream-content p{
  line-height: 1.7;
  margin-bottom: 20px;
}

.btn{
  display: inline-block;
  background: orange;
  color: white;
  padding: 12px 25px;
  text-decoration: none;
  border-radius: 5px;
}
.single{
    box-shadow: 10px 10px 40px gray;
    height: 70%;
}
footer {
    text-align: center; 
    padding: 50px 0;   
    width: 100%;        
    clear: both;    
    border: #444;  
}

footer p {
    color: #444;       
    font-size: 16px;
}